<br /><br />
<%= link_to t(:new_project), new_project_path %>

<h3><%= t(:projects) %></h3>

<table>
  <thead>
    <tr>
      <th><%= t(:id) %></th>
      <th><%= t(:name) %></th>
      <th><%= t(:description) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.id %></td>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td>
          <%= link_to t(:edit), edit_project_path(project) %>
          <%= link_to t(:show), project_path(project) %>
          <%= link_to t(:delete), project_path(project), method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>