<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />

    <title><%= page_title %></title>

    <%= render partial: 'shared/stylesheets' %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render partial: 'shared/top_bar' %>

    <%= yield %>

    <%= render partial: 'shared/footer' %>
    <%= render partial: 'shared/javascripts' %>
  </body>
</html>
